@import url(https://fonts.googleapis.com/css?family=Sora:100,200,300,regular,500,600,700,800);

body {
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #4a66e2;
    color: white;
    text-align: center;
    padding: 15px 0;
}

#task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-card-container {
    max-width: 80%;
    padding: 1.5rem;
    padding-right: 20px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 8px;
    border: #4a66e2 2px solid;
    box-shadow: 0 2px 10px rgba(152, 179, 252, 0.5);
}

#task-edit-button, #task-delete-button {
    background-color: #4a66e2;
    font-family: "Sora", sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(152, 179, 252, 0.5);
    transition: 700ms;
}

#add-task-button {
    background-color: #ffffff;
    font-family: "Sora", sans-serif;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    border: #4a66e2 1px solid;
    box-shadow: 0 2px 10px rgba(152, 179, 252, 0.5);
    margin-top: 20px;
    transition: 700ms;
}

#add-task-button:hover {
    background-color: #4a66e2;
    color: white;
}

#task-edit-button:hover {
    background-color: #ffffff;
    color: black;
}

#task-delete-button:hover {
    background-color: #ffffff;
    color: black;
}

#modal-1 {
    border-style: none;
    border: 1px solid;
    border-radius: 16px;
    animation: infinite fadeInBorder 1s;
    transition: 1500ms;
}

@keyframes fadeInBorder {
    0% {
        border-color: transparent;
        box-shadow: #b8c4fc 0 0 0 0;
    }
    50% {
        border-color: #4a66e2;
        box-shadow: #b8c4fc 0 0 0 5px;
        translate: x(0) y(-10px);
    }
    100% {
        border-color: transparent;
        box-shadow: #b8c4fc 0 0 0 0;
        translate: x(0) y(0);
    }
}

#form-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}

#form-text, h3 {
    font-family: "Sora", sans-serif;
    font-size: 24px;
    color: #4a66e2;
    margin-bottom: 20px;
    text-align: justify;
}

#task-name-input,
#task-description-input, #task-date-input, #task-status-input, #task-priority-input {
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #4a66e2;
    border-radius: 8px;
    font-family: "Sora", sans-serif;
    font-size: 16px;
}

#cancel-button {
    background-color: #4a66e2;
    font-family: "Sora", sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(152, 179, 252, 0.5);
    transition: 700ms;
}

#save-task-button {
    background-color: #4a66e2;
    font-family: "Sora", sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(152, 179, 252, 0.5);
    transition: 700ms;
    margin-bottom: 10px;
}

#option-low {
    background-color: #b8c4fc;
    color: black;
}

#option-medium {
    background-color: #4a66e2;
    color: white;
}

#option-high {
    background-color: #ff6b6b;
    color: white;
}

#cancel-button:hover,
#save-task-button:hover {
    background-color: #ffffff;
    color: black;
}

